body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.nav-withcontent {
  flex: 1;  
  display: flex;
}

.card-container {
  padding: 36px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  height: 250px;
  width: 300px;
}


.header {
  height: 72px;
  font-size: 32px;
  display: flex;
  flex: none;
  padding-left: 16px;
  align-items: center;
  font-weight: 900;
  background: darkmagenta;
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  display: flex;
  flex: none; 
  width: 300px;
  background: royalblue;
  padding: 16px;
  box-sizing: border-box;
}

.sidebar ul,
a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  list-style-type: none;
}


.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  padding: 48px;
  border-radius: 4px;
}